.container
{
    background-color: #515051;
    width: 20vw;
    height: 3vw;
    display: flex;
    align-items: center;
    gap: 1vw;
    border-radius: 5px 5px 3px 3px;
}

.container > img
{
    margin-left: 0.5vw;
}

#ProfilePic
{
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 100px;
}

.menu
{
    margin-left: auto;
}

#Username
{
    color:white
}