.MessageStructreConteiner
{
    display: flex;
    flex-direction: row;
    width: 51vw;
    word-break: break-all;
    text-wrap: pretty;
    gap: 1vw;
    height: max-content;
    margin-left: 2vw;
}


#imagePerfil > img
{
    width: 2.3vw;
    border-radius: 100px;
    height: 2.3vw;
    object-fit: cover;
}

#data
{
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
    height: fit-content;
}

#info
{
    display: flex;
    gap: 1vw;
    align-items: center;
}

#info
{
    display: flex;
    gap: 1vw;
}

#info > #date
{
    color: rgba(255,255,255,0.4);
    font-size: 0.8rem;
}

#Message
{
    text-wrap: wrap;
}

.SameUser
{
    margin-left: 3.3vw;
    margin-bottom: 0.4vh;
}

.OtherUser
{
    margin-top: 2vh;

}

.DataMensagem
{
    color: rgba(255,255,255,0.4);
    font-size: 0.9rem;
    text-align: center;
    margin-right: 5vw;
    margin-top: 1.5vh;
}

.MessageStructureHoverBackground
{
    position: relative;
    display: flex;
    align-content: center;
    padding-top: 0.3vh;
    width: 100vw;
    border-radius: 2px;
    overflow: visible;
}

.MessageStructureHoverBackground:hover
{
    background-color: #515051;
    transition: 0.2ms;
}

.ActionButtons
{
    position: absolute;
    top: 0;
    left: 70vw;
    transform: translateY(-50%);
    display: none;
    z-index: 100;
}

.MessageStructureHoverBackground:hover .ActionButtons
{

    display: flex;
}

.MenuOpenned
{
    display: flex;
}

.MenuOpenned.MessageStructureHoverBackground
{
    background-color: #515051;
}

button.MenuOpenned
{
    background-color: rgba(255, 255, 255, 0.04);
}

.MessageTime
{
    position: absolute;
    left: 2%;
    z-index: 1;
    display: none;

}

.MessageStructureHoverBackground:hover #Message.SameUser > .MessageTime
{
    display: block;
    color: rgba(255,255,255,0.4);
    font-size: 0.9rem;
}

.Edit > textarea
{
    border: none;
    overflow: auto;
    width: 65vw;
    resize: none;
    background-color: rgba(25,25,25,0.7);
    height: fit-content;
    color: white;
    padding: 0.8vh;
    overflow-y: hidden;
    font-family: inherit;
    font-size: 0.9rem;
    text-wrap: wrap;
    border-radius: 5px;
}

.Edit > textarea:focus
{
    outline: none;
}

.Edit > span
{
    color: rgba(255,255,255,0.7);
    font-size: 0.8rem;
    padding: 1vh 0vh 1vh 0vh;
}

.Editing.MessageStructureHoverBackground
{
    background-color: #515051;
    margin-top: 1vh;
    margin-bottom: 1vh;
}