@if(FirstMessageOrDifferentDate())
{
    <div class="DataMensagem">{{MessageToRender().sendAt | brazilianDatePipe}}</div>
}

<div class="MessageStructureHoverBackground" [class.tempMessage]="MessageToRender().temp" [class.OtherUser]="FirstMessageOrDifferentUser()" [class.MenuOpenned]="MenuIsOpen" [class.Editing]="IsEditing()">
    <div class="MessageStructreConteiner">

        @if (FirstMessageOrLastMessageWasTooLongAgo()) {
            <div id="imagePerfil">
                <img [src]="MessageUserPhoto">
            </div>
        }

        <span id="data">
            @if (FirstMessageOrLastMessageWasTooLongAgo()) {
                <span id="info">
                    <span id="userName">{{ MessageToRender().userThatSended.exibitedUsername }}</span>
                    <span id="date">{{ MessageToRender().sendAt | date: "dd/MM/YYYY 'às' HH:mm" }}</span>
                </span>
            }
            <span id="Message" [class.SameUser]="!FirstMessageOrDifferentUser() && !FirstMessageOrLastMessageWasTooLongAgo()">
                <span class="MessageTime">{{MessageToRender().sendAt | date:"HH:mm"}}</span>
                <span class="MessageContent">
                    @if (!IsEditing()) {
                        {{ MessageToRender().messageContent }}
                    }
                    @else if (IsEditing())
                    {
                        <div class="Edit" (keyup.escape)="CancelEdit()" (keyup.enter)="EditConfirmed()">
                            <textarea class="EditMessageInput" [(ngModel)]="EditMessageModel" appAutomaticFocus></textarea>
                            <span>esc para cancelar • enter para confirmar</span>
                        </div>
                    }
                </span>
            </span>
        </span>
    </div>

    @if(CanThisUserEraseMessages())
    {
        <div class="ActionButtons" [class.MenuOpenned]="MenuIsOpen">
            <button mat-icon-button [matMenuTriggerFor]="MenuToModifyMessages" (click)="MenuOpenned()" (menuClosed)="MenuClosed()" [class.MenuOpenned]="MenuIsOpen">
                <mat-icon fontIcon="more_horiz"></mat-icon>
            </button>
        </div>

        <mat-menu #MenuToModifyMessages (closed)="MenuClosed()">
            <button mat-menu-item (click)="EditMessage()">
                <mat-icon fontIcon="edit"></mat-icon>
                <span>Editar</span>
            </button>
            <button mat-menu-item (click)="DeleteMessage()">
                <mat-icon fontIcon="delete"></mat-icon>
                <span>Apagar</span>
            </button>
        </mat-menu>
    }

</div>

