.ChannelSideBarConteiner
{
    height: 100vh;
    width: 20vw;
    background-color: #252525;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px
}

.FirstLayer
{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.SearchBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 5vh;
    margin-top: 2vh;
    width: 15vw;
    background-color: white;
    border-radius: 5px;
}

.MinimizeSideBarButton
{
    transform: scale(1.2) translateX(-40%) translateY(-15%);
    rotate: 180deg;

}

input{
    height: 4vh;
    width: 13vw;
    border: none;
}

input:focus{
    outline: none;
}

.buttonFriend
{
    width: 15vw;
}

.NenhumAmigo
{
    margin-top: 5vh;
    color: white;
    opacity: 0.60;
    text-align: center;
    font-size: 1em;
}
.AddFriendsConteiner{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 5vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: 15vw;
    background-color: #515051;
    border-radius: 5px;
    border: 1px solid black;
}
.AddFriendsConteiner > input{
    background-color: #515051;
    color:white;
}

.closedInput
{
    width: 0;
    height: 0;
    transition: 0.2s;
}
.closedInput > *
{
    display: none;
}

.OpenedInput
{
    width: 15vw;
    height: 5vh;
    transition: 0.2s;
}

.profile
{
    margin-top: auto;
}

.ChannelSideBarConteinerMinimized
{
    height: 100vh;
    width: 5vw;
    background-color: #252525;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px
}
.ShowSideBarButton
{
    transform: scale(1.2);
    margin-top: 2vh;
}
#ReturnLandingPageMinimized > button
{
    transform: scale(1.2);
}

.channels
{
    width: 100%;
}