.containerChannel
{
    display: flex;
    width: 100%;
    height: 8vh;
    align-items: center;
    cursor: pointer;
}

.containerChannel:hover
{
    transition: 200ms;
    background-color: #515051;
}

#imageServer
{
    width: max-content;
}

#imageServer > img
{
    width: 2vw;
    height: 2vw;
    border-radius: 20px;
    margin-left: 1vw;
    object-fit: cover;
}


.containerChannel > span
{
    margin-left: 1vw;
    color:white;
}

.Minimized:hover
{
    background-color: #252525;
}

.Minimized > #imageServer > img
{
    margin-left: 0 !important;
}

.Minimized > #imageServer > img:hover
{
    width: 2.2vw;
    height: 2.2vw;
    transition: 50ms;
}