nav
{
    width: 100vw;
    height: 10vh;
    background-color: #515051;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}

main
{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-color: #414141;
}

.MenuOptionsContainer
{
    display: flex;
    justify-content: center;
    gap: 2vw;
    margin-left: 3vw;
}

.icon
{
    display: flex;
    gap: 5px;
    font-size: large;
    margin-left: 1vw;
}

.option
{
    cursor: pointer;
    color: #e0e1ff;
}

.BadgesOption
{
    display: flex;
    gap: 10px;
}

.Selected
{
    color: white;
}

.SolicitationsContainer
{
    height: 8vh;
    display: flex;
    align-items: center;
    width: 100vw;
    margin-left: 1vw;
    margin-top: 1vh;
    gap: 1vw;
}

.SolicitationsContainer > img
{
    border-radius: 100px;
    width: 2vw;
    height: 2vw;
}

#Username
{
    width: 10vw;
}