<div id="background">
    <div id="container">
        <div id="PhotoAndName">
            <div id="photo" (click)="uploadPhoto.click()">
                @if (UserEdit.userProfilePicUrl && !isBase64(UserEdit.userProfilePicUrl)) {
                    <img [ngSrc]="UserEdit.userProfilePicUrl" alt="User's profile pic" height="100" width="100" priority>
                } @else if (UserEdit.userProfilePicUrl)
                {
                    <img [src]="UserEdit.userProfilePicUrl" alt="User's profile pic" >
                }
                <input id="photoFileUploaderInput" type="file" accept="image/*" #uploadPhoto (change)="OnFileUpload($event)">
                <div id="overlay">
                    <mat-icon fontIcon="edit"> </mat-icon>
                </div>
            </div>
            <span id="Name">
                {{ UserEdit.exibitedUsername }}
            </span>
        </div>
        <div id="EditInputsBackgroundContainer">
            <div id="EditInputsContainer">
                <div id="Username">
                    <app-base-input [(Model)]="UserEdit.username" Label="Nome de Usuário" [Readonly]="true"></app-base-input>
                </div>
                <div id="ExibitedName">
                    <app-base-input [(Model)]="UserEdit.exibitedUsername" Label="Nome exibido" MaxLength='24' ></app-base-input>
                </div>
                <div id="Password">
                    <app-base-input [(Model)]="UserEdit.exibitedUsername" Label="Senha" Type="password" [Readonly]="true"></app-base-input>
                </div>
            </div>

            <div id="containerButtons">
                <div id="btnSalvar" (click)="OnSaveClick()" [class.disabled]="!HasChanges()" mat-ripple [matRippleDisabled]="!HasChanges()">
                    <mat-icon fontIcon="save" class="Icons"></mat-icon>
                    <span>Salvar alterações</span>
                </div>
                <div id="btnLogout" mat-ripple (click)="OnLogoutClick()">
                    <mat-icon fontIcon="login" class="Icons"></mat-icon>
                    <span>Sair</span>
                </div>
            </div>
        </div>
    </div>
</div>
