<Header>
    <div class="PhotoAndName">
        <img [src]="WhiteImageBase64">
        <span id="Name">{{ChannelSelected().ChannelName}}</span>
    </div>
    <div class="CallButtons">
        <button mat-icon-button>
            <mat-icon class="iconBut" fontIcon="call"></mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon class="iconBut" fontIcon="videocam"></mat-icon>
        </button>
    </div>
</Header>

<main>
    <div class="MessagesConteiner">
        @for (mes of ChannelSelected().Messages; track ChannelSelected().Messages[$index].messageId; let indice = $index)
        {
            <div class="MessageStructreConteiner" [class.OtherUser]="indice === ChannelSelected().Messages.length - 1 || ChannelSelected().Messages[indice+1].userIdThatSended != mes.userIdThatSended">
                @if (indice === ChannelSelected().Messages.length - 1 || CompareDates(mes.sendAt, ChannelSelected().Messages[indice+1].sendAt) || ChannelSelected().Messages[indice+1].userIdThatSended != mes.userIdThatSended)
                {
                    <div id="imagePerfil">
                        <img [src]="WhiteImageBase64">
                    </div>
                }
                <span id="data">
                    @if (indice === ChannelSelected().Messages.length - 1 || CompareDates(mes.sendAt, ChannelSelected().Messages[indice+1].sendAt) || ChannelSelected().Messages[indice+1].userIdThatSended != mes.userIdThatSended)
                    {
                        <span id="info">
                            <span id="userName">{{mes.userNameThatSended}}</span>
                            <span id="date">{{mes.sendAt | date: "dd/MM/YYYY 'às' HH:mm"}}</span>
                        </span>
                    }
                    <span id="Message" [class.SameUser]="indice !== ChannelSelected().Messages.length - 1
                                                                && !CompareDates(mes.sendAt, ChannelSelected().Messages[indice+1].sendAt)
                                                                && ChannelSelected().Messages[indice+1].userIdThatSended == mes.userIdThatSended">
                        {{mes.messageContent}}
                    </span>
                </span>
            </div>
                @if(indice === ChannelSelected().Messages.length - 1 || CompareDates(mes.sendAt, ChannelSelected().Messages[indice+1].sendAt))
                {
                    <div class="DataMensagem">{{mes.sendAt | brazilianDatePipe}}</div>
                }
        }
    </div>

    <div class="SendMessageContainer">
        <div class="SendMessage">
            <button mat-icon-button id="uploadFile">
                <mat-icon fontIcon="add" class="iconBut"></mat-icon>
            </button>
            <input placeholder="Digite coisas legais!" [(ngModel)]="MessageInputModel" (keyup.enter)="SendMessage()">
            <button mat-icon-button>
                <mat-icon fontIcon="emoji_emotions" class="iconBut"></mat-icon>
            </button>
        </div>
    </div>
</main>
