.forms{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1a;
}

.conteiner
{
    overflow: hidden;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap:10px;
    color:white;
}

.loginAsk
{
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.RequestSucess
{
    color: rgb(116, 184, 22);
}

.loading
{
    position: fixed;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}