.forms{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteiner
{
    overflow: hidden;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap:10px
}

.loginAsk
{
    color: rgb(1, 1, 117);
    text-decoration: underline;
    cursor: pointer;
}

.RequestSucess
{
    color: rgb(83, 128, 15);
}

.loading
{
    position: fixed;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}