<div class="ChannelSideBarConteiner">
    <div class="SearchBar">
        <input type="text" placeholder="Pesquise algum canal...">
        <button mat-icon-button>
            <mat-icon fontIcon="search"></mat-icon>
        </button>
    </div>
    <button mat-button class="buttonFriend" (click)="AddFriendsToggle()">
        <mat-icon fontIcon="person_add"></mat-icon>
        <span>Adicione mais amigos</span>
    </button>

        <div class="AddFriendsConteiner" [class.closedInput] = "!addFriends" [class.OpenedInput] = "addFriends">
            <input type="text" [(ngModel)]="addFriendModel" placeholder="Digite o nick de seu amigo">
            <button mat-icon-button (click)="SendFriendRequest()">
                <mat-icon fontIcon = "send"></mat-icon>
            </button>
        </div>

    <div id="ReturnLandingPage">
        <button mat-button (click)="SelectChannel(undefined)"><mat-icon fontIcon="home"></mat-icon>Pagina principal</button>
    </div>

     @for(channel of ChannelList; track ChannelList[$index].ChannelId!;)
     {
        <app-channel-clickable [channel]="channel" (clickEvent)="SelectChannel($event)"/>
     } @empty {
         <span class="NenhumAmigo">Vish... <br> parece que voce nao tem amigos!</span>
     }
</div>
