.forms{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1a;
}

.conteiner
{
    overflow: hidden;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 30vw;
    gap:10px;
    color: white;
}


input
{
    width: 20vw;
}
button
{
    width: 10vw;
}

.loginAsk
{
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.requests
{
    margin-top: 5px;
}

.loading
{
    position: fixed;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}